/* Your Styles Here */

body {
    background: linear-gradient(to bottom, #f095f1, #a8c8f0);
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
 
    background-image: url("https://holocure.wiki.gg/images/Gawr_Gura_Portrait.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    opacity: 0.25;
    z-index: -1;
}



h1 {
    font-size: 48px;
    margin-top: 5px;
    text-align: center;
}


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

#search-input {
    width: 300px;
    height: 40px;
    font-size: 18px;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    padding: 10px;
    border: 2px solid #965252;
    border-radius: 5px;
}


button {
    background-color: #f095f1;
    border: 2px solid #965252;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    cursor: pointer;
    margin-top: 10px;
}

